@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any custom global styles here */
body {
  font-family: 'Inter', sans-serif; /* Example of a global font setting */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}